@model qlnv.Models.KhenThuong

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>KhenThuong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaKT" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Về bảng khen thưởng</a>
    </form>
</div>
