@model qlnv.Models.Chucvu

@{
    ViewData["Title"] = "Create";
}

<h1>Thên chức vụ mới</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Macv" class="control-label">Mã chức vụ</label>
                <input asp-for="Macv" class="form-control" />
                <span asp-validation-for="Macv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mapb" class="control-label">Phòng ban</label>
                <select asp-for="Mapb" class ="form-control" asp-items="ViewBag.Mapb"></select>
            </div>

            <div class="form-group">
                <label asp-for="Tencv" class="control-label"> Tên chức vụ</label>
                <input asp-for="Tencv" class="form-control" />
                <span asp-validation-for="Tencv" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Về bảng chức vụ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
