@model qlnv.Models.KyLuat

@{
    ViewData["Title"] = "Create";
}



<h4>Thêm mới kỷ luật</h4>
<form asp-action="Upload" enctype="multipart/form-data">
<div class=" row form-control">
    <label class="col-sm-2"> Import data form Excel: </label>
    <input type="file" name ="file" class="col-sm-4">
    <input type="submit" value="Upload" class ="btn btn-primary col-sm-1">

</div>
</form>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaKL" class="control-label">Mã kỷ luật</label>
                <input asp-for="MaKL" class="form-control" />
                <span asp-validation-for="MaKL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenKL" class="control-label">Tên kỷ luật</label>
                <input asp-for="TenKL" class="form-control" />
                <span asp-validation-for="TenKL" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Về bảng Kỷ luật</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
