@model qlnv.Models.KyLuat

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKL">Sửa</a> |
    <a asp-action="Index">Về bảng kỷ luật</a>
</div>
