@model qlnv.Models.Phongban

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm phòng ban mới</h1>

<form asp-action="Upload" enctype="multipart/form-data">
<div class=" row form-control">
    <label class="col-sm-2"> Import data form Excel: </label>
    <input type="file" name ="file" class="col-sm-4">
    <input type="submit" value="Upload" class ="btn btn-primary col-sm-1">

</div>
</form>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mapb" class="control-label">Mã phòng ban</label>
                <input asp-for="Mapb" class="form-control" />
                <span asp-validation-for="Mapb" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Tenpb" class="control-label"> Tên phòng ban</label>
                <input asp-for="Tenpb" class="form-control" />
                <span asp-validation-for="Tenpb" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Về bảng phòng ban</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
