@model qlnv.Models.Phongban

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mapb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mapb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenpb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenpb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mapb">Sửa</a> |
    <a asp-action="Index">Về bảng phòng ban</a>
</div>
