@model qlnv.Models.PhuCap

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có có chắc chắn muốn xóa không?</h3>
<div>
    <h4>Phụ Cấp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenpc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenpc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTien)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Mapc" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Về bảng Phụ cấp</a>
    </form>
</div>
