@model qlnv.Models.PhuCap

@{
    ViewData["Title"] = "Details";
}

<h1>Chi Tiết</h1>

<div>
    <h4>Phụ Cấp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenpc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenpc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTien)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mapc">Sửa</a> |
    <a asp-action="Index">Về bảng Phụ cấp</a>
</div>
