@model qlnv.Models.Luong

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LuongCB">Sửa</a> |
    <a asp-action="Index">Về bảng lương</a>
</div>
