@model qlnv.Models.HopDong

@{
    ViewData["Title"] = "Create";
}



<h4>Thêm mới Hợp Đồng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mahd" class="control-label">Mã hợp đồng</label>
                <input asp-for="Mahd" class="form-control" />
                <span asp-validation-for="Mahd" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Manv" class="control-label">Nhân viên</label>
                <select asp-for="Manv" class="form-control" asp-items="ViewBag.Manv"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tenhd" class="control-label">Tên hợp đồng</label>
                <input asp-for="Tenhd" class="form-control" />
                <span asp-validation-for="Tenhd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"> Ngày bắt đầu làm</label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label">Ngày kết thúc</label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiHan" class="control-label">Thời hạn</label>
                <input asp-for="ThoiHan" class="form-control" />
                <span asp-validation-for="ThoiHan" class="text-danger"></span>
            </div>
           <br>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Về bảng Hợp đồng</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
